body{ 
    width: 100%;
    /* background: #03273C; */
/* background: linear-gradient(132deg, rgba(5,23,32,1) 0%, rgba(1,42,74,1) 45%, rgba(1,73,124,1) 100%); */
}
a {
    text-decoration: none;
    color: #ffffff;
   }
nav{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: #03273C;
    color: #ffffff;
    /* align-content: center; */
    align-items: center;
}
.dealer {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 20px;

}

.card{ /*div tarjeta pelicula*/
    width: 300px;
    height: auto;
    /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.226); */
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    padding-bottom: 10px;
    align-content: baseline;
    /* background-color: #ffffffa9; */
}
/* .cardInfo:hover{
    
} */

.movieImg{ /*imagen de la pelicula*/
    max-width: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.movieTitle {
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
}

.movieBtn{ 
    border-radius: 20px;
    border-width: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #03273C;
    color: white;
}

.movieDesc{ /*descripcion de pelicula*/
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
    height: 20px;
    line-height: 15px;
}

span{
    padding: 10px;
}
.divTexto{
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
}
ul{
    margin-left: 3%;
}
footer{
    align-self: flex-end;
    background-color: #03273C;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    padding: 10px;
    justify-content: flex-end;
    align-items: center;

}
#redes{
    align-self: flex-end;
}
.logoRedes{
    width: 40px;
    margin: 10px;
}
.logoPagina{
    width: 50px;
    margin: 10px;
}

.campoForm{
    width: 40%;
}